QPushButton {
    background-color: rgba(52, 31, 151,0.3);
    color: #5f27cd;
    border: 3px solid #5f27cd;
    border-radius: 15px;
    padding: 15px 25px;
    margin:10px 10px;
    font-size: 30px;
    letter-spacing: 5px;
    font-weight: bold;
}

QPushButton:hover{
    color: white;
    background-color: #5f27cd;
}